<!doctype html>
<html>
    <head>
        <title>The Teaching Tree</title>
        <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">

    </head>

    <body>
        <div class="container-fluid" id="main-body">
        {% block body %}
        This message means you are displaying the raw template instead of the correct page.
        {% endblock %}
        </div>
        <br>
        <div class="container-fluid" id="basebar">
        <a class="col-xs-6" href="/">Home</a> <a class="col-xs-6" href="/about/">About</a>
        </div>
    </body>


</html>