{% extends 'base.html' %}

{% block body %}
<h1>Resources on {{ subject }}</h1>

<h2>All resources we currently have:</h2>
    {% if resources %}
    <ul>
    {% for resource in resources %}
    <li>
        <a href="{{ resource.url }}">{{ resource.medium }}{% if resource.title %} : {{ resource.title }} {% endif %}</a></li>

    {% endfor %}
</ul>
    {% else %}
    Oops, our list of resources is empty.  Please come back later or, if you can, <a href="/suggest/{{ subject }}">make a suggestion</a>!
    {% endif %}
{% endblock %}